NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element: NationalParks contains one or more NationalPark children -->
  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NationalPark" type="NationalParkType"
                    minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- NationalPark type: Name, one or more Phone, Address; optional Rating attribute -->
  <xs:complexType name="NationalParkType">
    <xs:sequence>
      <xs:element name="Name"    type="xs:string"/>
      <xs:element name="Phone"   type="xs:string"
                  minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="Address" type="AddressType"/>
    </xs:sequence>
    <!-- Rating is optional (use="optional") -->
    <xs:attribute name="Rating" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Address type: Number, Street, City, State, Zip children; NearestAirport required attribute -->
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Number" type="xs:int"/>
      <xs:element name="Street" type="xs:string"/>
      <xs:element name="City"   type="xs:string"/>
      <xs:element name="State"  type="xs:string"/>
      <xs:element name="Zip"    type="xs:string"/>
    </xs:sequence>
    <!-- NearestAirport is required (use="required") -->
    <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>
